@font-face {
  font-family: "Digital";
  src: font-url("SUBWT.ttf") format("truetype");
}

.well {
  background: #181818;
  color: #f4e542;
}

.headers {
  color: #f8f8f8;  
}

.big {
  font-size: large; 
}

.medium{
  font-size: medium;
}

.digital{
  font-family: "Digital";
}
